﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Person</h2>

<form method="post" action="/Home/Create">
    <table>
        <tr>
            <td align="right">First Name:</td>
            <td>
                <input type="text" name="firstName" />
            </td>
        </tr>


        <tr>
            <td align="right">Last Name:</td>
            <td>
                <input type="text" name="lastName" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>
</form>