﻿@model IEnumerable<WebApp.Models.Person>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the People's App</h2>

@if (Model != null && Model.Any())
{
    <table cellpadding="8" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>
                        <a href="/home/update/@person.Id">Update</a> &nbsp;&nbsp;
                        <a href="/home/delete/@person.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No people were found. <a href="/home/create">Create New Person</a></p>
}

