﻿@model WebApp.Models.Person

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Person</h2>

<form method="post" action="/Home/Update">
    <input type="hidden" name="id" value="@Model.Id" />
    <table>
        <tr>
            <td align="right">First Name:</td>
            <td>
                <input type="text" name="firstName" value="@Model.FirstName" />
            </td>
        </tr>


        <tr>
            <td align="right">Last Name:</td>
            <td>
                <input type="text" name="lastName" value="@Model.LastName" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>
</form>