﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div id="wrapper"> 
        <header id="main-header"></header>

        <nav id="main-navbar">
            <a href="/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/home/create">Create New Person</a>
        </nav>

        <main id="main-content">
            <section id="main-section">
                @RenderBody()
            </section>
        </main>

        <footer id="main-footer"></footer>
    </div>
</body>
</html>
